<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@500&display=swap');

      body {
          font-family: 'Sarabun', sans-serif;
      }

      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      .no-scrollbar {
          -ms-overflow-style: none;

          scrollbar-width: none;
      }
    </style>

    <title>Notr | Home</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <main class="w-full flex h-screen bg-white">
        <div
            class="w-fit max-w-3/12 bg-[#f5f5f5] h-screen border-r-[2px] border-r-[#818181] overflow-y-scroll no-scrollbar pr-12 relative ">
            <div class="flex items-center mt-[25px] pl-[15px] gap-[14px] sticky">
              {% if user.photo %}
              <img class="rounded-full" src="{{ user.photo.url }}" width="50px" height="50px" />
              {%else%}
              <div class=" rounded-full flex items-center justify-center w-16 py-6 px-6 bg-gray-700 text-white text-sm font-medium ">{{ initial|title }}</div>
              {% endif %}
              <p class="text-lg text-[#050505] font-bold leading-[31px]">{{user|title}}</p>
              <button id="logout_btn"><img src="{% static '/images/power-off.png' %}" width="20px" height="20px" /></button>
          </div>

            <div
                class="ml-[28px] mt-[38px] flex flex-col gap-[22px] text-[16px] font-[500] leading-[26px] text-[#030303]">
                <!-- notes -->
                <a class="flex  hover:bg-gray-200 p-2" href="{% url 'notr:note-home' 'normal' %}">
                    <div class="flex items-center gap-[22px]">
                        <img src="{% static '/assets/icons/notes (1) 1.svg' %}" />
                        <p>{{ user_splited_name|title }}'s notes</p>
                    </div>
                </a>

                <a class="flex  hover:bg-gray-200 p-2" href="{% url 'notr:note-home' 'archived' %}">
                    <div class="flex items-center gap-[22px] ">
                        <img src="{% static '/assets/icons/archive 1.svg' %}" />
                        <p class="pl-1">Archived notes</p>
                    </div>
                </a>
                <a class="flex  hover:bg-gray-200 p-2" href="{% url 'notr:note-home' 'trash' %}">
                    <div class="flex items-center gap-[22px]">
                        <img src="{% static '/assets/icons/paper-bin 1.svg' %}" />
                        <p>Trashed notes</p>
                    </div>
            </div>
            </a>

            <div class="mt-[28px]">
                <!-- Labels -->
                <div class="flex ml-[15px] gap-[8px]">
                    <p class="text-[16px] text-[#8C8C8C] leading-[26px] font-[400]">Labels</p>
                    <button id="continueBtn"><img src="{% static '/assets/icons/plus (1) 2.svg' %}" /></button>
                </div>

                <div
                    class="ml-[28px] mt-[28px] flex flex-col gap-[22px] text-[16px] font-[500] leading-[26px] text-[#030303]">
                    {% for items in user_labels %}
                    <a class="flex  hover:bg-gray-300 p-2" href="{% url 'notr:note-label' items.name %}">
                        <div class="flex items-center gap-[22px]">
                            <img src="{% static '/assets/icons/product-development (1) 3.svg' %}" />
                            <p>{{items.name}}</p>
                        </div>
                    </a>
                    {% endfor %}
                    <a class="flex  hover:bg-gray-300 p-2" href="#">
                        <div class="flex items-center gap-[22px]">
                            <img src="{% static '/assets/icons/folder 1.svg' %}" />
                            <p>Private</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="mt-[28px]">
                <!-- Favourites -->
                <p class="text-[16px] text-[#8C8C8C] leading-[26px] font-[400] ml-[15px]">Favourites</p>
                <div
                    class="ml-[20px] mt-[28px] flex flex-col gap-[22px] text-[16px] font-[500] leading-[26px] text-[#030303]">
                    {% for item in user_favorites %}
                    <div class="flex items-center gap-[12px]">
                        <img src="{% static '/assets/icons/favorite 4.svg' %}" />
                        <p>{{item.title}}</p>
                    </div>
                    {% empty %}
                    <div class="flex items-center gap-[12px]">
                        <p>No Favorites Notes.</p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="ml-[15px] mt-48 w-full mb-[16px] text-left  bottom-0 left-0  ">
              <!-- Date -->
              <p class="text-[10px] text-[#FCA407] leading-[16px] font-medium">Today</p>
              <p class="text-[16px] text-[#0E0E0E] leading-[21px] font-medium">{{ day }}</p>
              <div class="flex items-center  justify-between text-[16px] text-[#0E0E0E] leading-[26px] font-bold">
                  <p>{% now "jS F Y" %}</p>
                  <a class="mr-8" href="{% url 'accounts:edit-user' user.id %}"><img src="{% static '/assets/icons/settings 3.svg' %}" /></a>
              </div>
          </div>
        </div>

            </div>
            <!-- <div class="w-[351px] h-0 border-b border-[#000] mt-[36px] ml-[100px]"></div> -->
        </div>
        {% comment %} {% include 'messages.html' %} {% endcomment %}
        <div
        class="w-9/12 overflow-y-scroll no-scrollbar text-primaryBlack border-r-[2px] pl-[48px]"
      >
        <p class="text-[36px] leading-[47px] font-medium mt-[30px]">
          Edit profile
          <div class="w-1/2 mx-auto ">
            <div >
          {% include 'messages.html' %}
            </div>
          </div>
        </p>
        <form method="POST" action="{% url 'accounts:edit-user' request.user.id %}"  enctype="multipart/form-data">
          {% csrf_token %}
          <p
            class="text-[16px] leading-[26px] font-medium mt-[25px] text-[#9F9F9F]"
          >
            photo
          </p>
          <div class="flex items-center space-x-[56px] mt-[16px]">
            {% if user.photo %}
            <img src="{{ user.photo.url|default:" " }}" width="50px" height="50px"/>
            {% endif %} 
             {{ form.photo }}
          </div>
          <div>
            <label
              class="block text-[16px] leading-[26px] font-medium mt-[25px] text-[#9F9F9F]"
              for="email"
            >
              email
            </label>
        {{ form.email }}
          </div>

          <div>
            <label
              class="block text-[16px] leading-[26px] font-medium mt-[25px] text-[#9F9F9F]"
              for="fullname"
            >
              full name
            </label>
            {{ form.full_name }}
          </div>
          <div>
            <label
              class="block text-[16px] leading-[26px] font-medium mt-[25px] text-[#9F9F9F]"
              for="mobile"
            >
              mobile
            </label>
            {{ form.mobile }}
          </div>


          <div>
            <label
              class="block text-[16px] leading-[26px] font-medium mt-[25px] text-[#9F9F9F]"
              for="username"
            >
              username
            </label>
            {{ form.username }}
          </div>

          <div class="w-full">
            <label
              class="block text-[16px] leading-[26px] font-medium mt-[25px] mb-[10px] text-[#9F9F9F]"
            >
              theme
            </label>
            <div class="space-x-[10px]">
              <label>
                <input type="radio" />
                <span class="text-[16px] leading-[31px] font-[400]">
                  Light
                </span>
              </label>
              <label>
                <input type="radio" />
                <span class="text-[16px] leading-[31px] font-[400]">
                  Dark
                </span>
              </label>
            </div>
          </div>
          <button
            class="border rounded-[10px] py-1 px-10 mt-[100px] bg-[#D3D3D3] outline-none text-[18px] leading-[31px] ml-[345px] mb-[41px]"
            id="submit"
            type="submit"
          >
            Save
          </button>
        </form>
        <div class="block text-[16px] ">
          <button
            class="border rounded-[10px] px-10 py-2 mt-[5px] bg-[#D3D3D3] outline-none hover:bg-gray-400"
            id="password_btn"
          >
            change password
          </button>

        </div>
      </div>
    </main>
    <div class="absolute inset-0 bg-[#F5F5F5]/50 h-screen w-full hidden flex-col" id="password_modal">
      <div class="px-[42px] py-[21px] text-[20px] mt-20 leading-[26px] w-1/3 mx-auto flex-col bg-white rounded-md "
          id="label_section">
          <p class="text-[#ABA7A7] font-medium mb-[15px]">Change password</p>
          <form method="POST" action={% url 'accounts:edit-password' request.user.id %}>
              {% csrf_token %}
              <div>
                <label for="password" class="block text-sm font-medium text-gray-700">Old Password</label>
                <div class="mt-1">
                  <input id="old_password" name="old_password" type="password" autocomplete="current-password" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
                </div>
              </div>
              <div>
                <label for="password" class="block text-sm font-medium text-gray-700">New Password</label>
                <div class="mt-1">
                  <input id="new_password1" name="new_password1" type="password"  required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
                </div>
              </div>
              <div>
                <label for="password" class="block text-sm font-medium text-gray-700">Confirm Password</label>
                <div class="mt-1">
                  <input id="new_password2" name="new_password2" type="password"  required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
                </div>
              </div>
          <button class="text-base bg-[#D3D3D3] rounded-lg  my-4 py-2 px-4">
              Change Password
          </button>
      </form>
         
          
</div>

  </div>
  </div>
  <div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-300">
            <button onclick="closeDialog()" type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="popup-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="p-6 text-center">
                <svg aria-hidden="true" class="mx-auto mb-4 w-14 h-14 text-gray-400 dark:text-gray-700" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-700">Are you sure you want to logout?</h3>
                <button data-modal-toggle="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                   <a href="{% url 'accounts:logout' %}"> Yes, I'm sure</a>
                </button>
                <button onclick="closeDialog()" data-modal-toggle="popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">No, cancel</button>
            </div>
        </div>
    </div>
</div>

    <script src="{% static 'scripts/app.js' %}"></script>
    <script>

    </script>
</body>

</html>